heronow{
    position: relative;
}
.pali-pic{
    position: absolute;
    z-index: -2;
    top: -100px;
}
.header{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}
.main-button-img:hover{
    transform: scale(1.1);
    transform: translateY(-20px);
    cursor: pointer;
}
.main-button-img{
    transition: scale 0.4s ease-in-out 0.2s, translate 0.4s ease-in-out 0.2s;
}
.logo{
    display: flex;
}
.nav{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: row;

}
.text{
    margin-left: 25px;
    margin-right: 25px;
    font-family: Roboto, Arial;
    font-size: 20px;
    transition: all .4s ease-in-out;
    padding: 10px 10px 20px 10px;
    margin-bottom: 0px;
    color: white;

}
.text:hover{
    background-color: black;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.line{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
body{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8000px;
}
.first-title{
    position: absolute;
    top: 500px;
    left: 140px;
}
.first-para{
    position: absolute;
    top: 400px;
    left: 700px;
}
.second-section{
    position: relative;
}
.second-title{
    position: absolute;
    top: 900px;
    left: 100px;
}
.second-para{
    position: absolute;
    top: 1130px;
    left: 100px;
    z-index: -1;
}
.pics{
    position: absolute;
    top: 900px;
    left: 700px;
}
.footer{
    position: relative;
}
.footer-im{
    position: absolute;
    top: 2000px;
}
.back{
    background-color: black;
    opacity: 50%;
    top: 2000px;
}