.header{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  animation: load 1s alternate;
}
@keyframes load{
  from{
      opacity: 0.5;
      transform: translateY(100px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}
.main-button-img:hover{
  transform: scale(1.1);
  transform: translateY(-20px);
  cursor: pointer;
}
.main-button-img{
  transition: scale 0.4s ease-in-out 0.2s, translate 0.4s ease-in-out 0.2s;
}
.logo{
  display: flex;
}
.nav{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: row;
  animation: load 1s alternate;
}
.text{
  margin-left: 25px;
  margin-right: 25px;
  font-family: Roboto, Arial;
  font-size: 20px;
  transition: all .4s ease-in-out;
  padding: 10px 10px 20px 10px;
  margin-bottom: 0px;
}
.text:hover{
  color: white;
  background-color: black;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.line{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: load 1s alternate;
}
.hero{
  display: flex;
  width: 100%;
  position: relative;
  animation: load 1s alternate;
}
.hero-background{
  position: absolute;
  top: 10px;
  width: 100%;
}
.welcome{
  position: absolute;
  top:200px;
  left: 20px;
}
.to{
  position: absolute;
  top: 370px;
  left: 450px;
}
.colombo{
  position: absolute;
  top:600px;
  left: 350px;
}
.main{
  position: relative;
  display: flex;
  width: 100%;
}
.background-main{
  position: absolute;
  width: 100%;
  top: 793px;
  z-index: -1;
}
.gangaramaya{
  position: absolute;
  width: 35%;
  top: 900px;
  left: 90px;

}
.cargills{
  position: absolute;
  width: 35%;
  top: 900px;
  left: 700px;
}
.galle-face{
  position: absolute;
  width: 35%;
  top: 1500px;
  left: 90px;
}
.kelaniya{
  position: absolute;
  width: 35%;
  top: 1500px;
  left: 700px;
}
.word-kelaniya{
  position: absolute;
  top: 1950px;
  width: 18%;
  left:850px;

}
.red-church{
  position: absolute;
  top: 2100px;
  width: 35%;
  left: 90px;
}
.lotus-tower{
  position: absolute;
  top: 2100px;
  left: 700px;
  width: 35%;
}
.main-background{
  position: absolute;
  top: 3400px;
  width: 100%;
}
a{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
@keyframes appear {
  from{
      opacity: 0;
      transform: scale(0.5);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}
#hidden{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
#pre-load{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #FFFCFC;
  display: flex;
  top: 0px;
}
.plane{
  top: 400px;
  animation: loading 2s ease-in-out infinite, logo 2s ease-in-out infinite;
  left: 550px;
  position: absolute;
}
.pre-logo{
  top: 150px;
  left: 450px;
  position: absolute;
  animation: logo 2s ease-in-out infinite;
}
@keyframes loading {
  from{
      transform: translate(0px,0px);
      
  }
  to{
      transform: translate(200px,-140px);
  }
}
@keyframes logo {
  from{
      opacity: 0.5;
  }
  to{
      opacity: 1;
  }
  
}
.footer{
  position: relative;
  display: flex;
  top: 4000px;
}
.footer-image2{
  position: absolute;
  top: -10px;
}
.subscribe{
  position: absolute;
  top: 60px;
  left: 350px;
}
.newsletter{
  position: absolute;
  width: 800px;
  height: 60px;
  left: 250px;
  top: 190px;
  background-image: url(assets/Rectangle\ 22.svg);
  background: rgba(15, 0, 1, 0.1);
  box-shadow: inset 37.4667px -37.4667px 37.4667px rgba(12, 1, 1, 0.1), inset -37.4667px 37.4667px 37.4667px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(37.4667px);
  border: 0px;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 45px;
  font-size: 30px;
  color: #FFFFFF;
  font-family: 'Roboto';
  text-align: center;
}
.newsletter:hover{
  background-color: rgba(174, 91, 241, 0.7);
  
}
.newsletter::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}
.final-gradient{
  position: absolute;
  background-color: rgb(247, 58, 184);
  top: 0;
  left: 0;
  width: 1435px;
  bottom: 0;
  z-index: -1;
  transition: background-color 0.4s ease-in-out;
}
.footer-para{
  bottom: 50px;
  left: 100px;
  position: absolute;
}
.footer-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFCFC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-para2{
  bottom: 290px;
  left: 600px;
  position: absolute;
}
